/* body {
  margin: 0;
  font-family: Arial, sans-serif;
} */



img {
  cursor: zoom-in;
}

#zoomImage {
  max-height: 100vh;
  object-fit: contain;
}

#zoomClose {
  width: 48px;
  height: 48px;
  z-index: 1056;
}

.list-group-item .rounded-pill {
  background-color: #FF9D2D!important;
}

.map-wrapper {
  position: relative;
  /* max-width: 1200px; */
  margin: auto;
}

.map-wrapper img {
  width: 100%;
  display: block;
} 


.map-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}


/* Полигоны домов */
.house {
  fill: rgba(0, 200, 0, 0.35);
  stroke: #2e7d32;
  stroke-width: 2;
  cursor: pointer;
  transition: 0.2s;
}

.house.booked {
  fill: rgba(255, 193, 7, 0.4);
  stroke: #ff9800;
}

.house.sold {
  fill: rgba(160, 160, 160, 0.4);
  stroke: #757575;
}

.house:hover {
  fill-opacity: 0.6;
}

/* MODAL */
.modal-houses {
  position: absolute;
  display: none;
  z-index: 50;
}

.modal-houses-content {
  background: #fff;
  border-radius: 14px;
  padding: 16px;
  width: 260px;
  box-shadow: 0 12px 30px rgba(0,0,0,.25);
}

.modal-houses h3 {
  margin: 0 0 6px;
}

.modal-houses p {
  margin: 0;
  font-size: 14px;
}

.modal-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 12px;
}

.call-to-action {
  display: flex!important;
  flex-direction: row!important;
  gap: 5px;
}

.whatsapp {
  background: #25d366!important;
  border-color: white!important;
}



.close {
  position: absolute;
  right: 10px;
  top: 6px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* 📱 Mobile */
@media (max-width: 768px) {
  .modal-houses {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.4);
    display: none;
    align-items: flex-end;
  }

  .modal-houses-content {
    width: 100%;
    border-radius: 16px 16px 0 0;
  }


  .map-wrapper {
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }

  #main-map-img,
  .map-svg {
    width: 170%;
  }
}


